<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/styles.css" />
  <script src="/booking.js"></script>
</head>
<body>
  <div class="navbar">
    <div>
      <button 
        class="language-button" 
        aria-controls="languagePopover" 
        aria-expanded="false" 
        popovertarget="languagePopover"
        title="{{languageSelectorTitle}}">
        🌐 {{currentLanguage}}
      </button>
      <div id="languagePopover" popover>
        <a href="/en" title="{{titleEnglish}}">English</a>
        <a href="/" title="{{titleDutch}}">Nederlands</a>
        <a href="/uk" title="{{titleUkrainian}}">Українська</a>
      </div>
      <span class="logo">{{logo}}</span>
    </div>
    <div class="menu">      
      <a href="#{{aboutUsId}}">{{aboutUs}}</a>
      <a href="#{{servicesId}}">{{services}}</a>
      <a href="#{{pricelistId}}">{{pricelist}}</a>
      <a href="#{{reviewsId}}">{{reviews}}</a>
      <a href="#{{contactId}}">{{contact}}</a>
      <a href="#{{bookNowId}}" class="btn">{{bookNow}}</a>
    </div>
    <button class="hamburger" popovertarget="sideNav" title="{{navigation}}">☰</button>
  </div>

  <div class="side-nav" id="sideNav" popover>
    <a href="#{{servicesId}}">{{services}}</a>
    <a href="#{{pricelistId}}">{{pricelist}}</a>
    <a href="#{{reviewsId}}">{{reviews}}</a>
    <a href="#{{contactId}}">{{contact}}</a>
    <a href="#{{bookNowId}}" class="btn">{{bookNow}}</a>
  </div>

  <!-- Header -->
  <header>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" width="100%" height="100%" preserveAspectRatio="none">
      <defs>
        <linearGradient id="skyGradient" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" style="stop-color:#87CEEB;stop-opacity:1" />
          <stop offset="100%" style="stop-color:#0084A1;stop-opacity:1" />
        </linearGradient>
      </defs>
      
      <rect x="0" y="0" width="1440" height="320" fill="url(#skyGradient)" />
      <path fill="#0084A1" d="M0,192L80,181.3C160,171,320,149,480,160C640,171,800,213,960,213.3C1120,213,1280,171,1360,149.3L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
      <path fill="#F4E3C7" d="M0,320L80,300C160,280,320,240,480,224C640,208,800,224,960,240C1120,256,1280,272,1360,288L1440,304L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
    </svg>
    <img src="/palm.svg" style="left: 0;
    left: -50px;
    height: 90vh;
    right: auto;
    width: auto;
    top: auto;
    bottom: -5vh;" alt="palm" />
  <div class="overlay"></div>

>

    <div class="content">
      <h1>{{title}}</h1>
      <p style="margin: auto;max-width:32em">{{header}}</p>
    </div>
  </header>
  
  <section id="{{aboutUsId}}" class="about-us">
    <!-- Image on the left -->

 <div class="about-us-img">
    <img src="/images/pexels-anete-lusina-5240637-480.jpg" 
         srcset="/images/pexels-anete-lusina-5240637-480.jpg 480w, 
                    /images/pexels-anete-lusina-5240637-768.jpg 768w, 
                    /images/pexels-anete-lusina-5240637-1200.jpg 1200w" 
         sizes="(max-width: 600px) 480px, 
                (max-width: 1200px) 768px, 
                1200px" 
         alt="{{headerImgAlt}}"
         loading="lazy"
         style="max-height: 400px; width: auto; height: auto; border-radius: 10px;">
  </div>
    <!-- Text on the right -->
    <div style="flex: 1; max-width: 50%; margin-left: 2rem;  min-width: 20ch;">
      <h2 style="font-size: 2.5rem; margin-bottom: 1rem;">{{aboutUs}}</h2>
      <p style="font-size: 1.2rem; line-height: 1.6; color: #333;">
        {{info1}}
      </p>
      <p style="font-size: 1.2rem; line-height: 1.6; color: #333;">
        {{info2}}
      </p>
      <p style="font-size: 1.2rem; line-height: 1.6; color: #333;">
        {{info3}}
      </p>
    </div>
  </section>
  
  
  <section id="{{servicesId}}" style="background-color: #f4f4f4; padding: 40px 0;">
    <div class="container">      
      <h2 class="section-title">{{servicesTitle}}</h2>
      <div class="services-boxes">
        <div class="service-box">
          <h3>{{classicMassageTitle}}</h3>
          <p>{{classicMassageDescription}}</p>
        </div>
        <div class="service-box">
          <h3>{{facialMassageTitle}}</h3>
          <p>{{facialMassageDescription}}</p>
        </div>
        <div class="service-box">
          <h3>{{relaxationMassageTitle}}</h3>
          <p>{{relaxationMassageDescription}}</p>
        </div>
        <div class="service-box">
          <h3>{{footMassageTitle}}</h3>
          <p>{{footMassageDescription}}</p>
        </div>
      </div>
    </div>
  </section>
  
   <!-- Parallax Section -->
  <div class="parallax"></div>

<section id="{{pricelistId}}">
  <div class="container">
    <h2 class="section-title">{{pricelistTitle}}</h2>
    <div class="pricing-grid">
      <div class="pricing-row">
        <span class="service-name">{{classicMassageTitle}}</span>
        <span class="service-price">{{classicMassagePrice}}</span>
      </div>
      <div class="pricing-row">
        <span class="service-name">{{facialMassageTitle}}</span>
        <span class="service-price">{{facialMassagePrice}}</span>
      </div>
      <div class="pricing-row">
        <span class="service-name">{{relaxationMassageTitle}}</span>
        <span class="service-price">{{relaxationMassagePrice}}</span>
      </div>
      <div class="pricing-row">
        <span class="service-name">{{footMassageTitle}}</span>
        <span class="service-price">{{footMassagePrice}}</span>
      </div>
    </div>
  </div>
</section>

<section id="{{bookNowId}}">
  <div class="container form-container">
    <h2 class="section-title">{{bookNow}}</h2>
    
    <form target="_blank" id="bookingForm">
      <div class="form-group">
        <label for="name">{{nameLabel}}</label>
        <input type="text" id="name" name="name" placeholder="{{namePlaceholder}}" required>
      </div>
      <div class="form-group">
        <label for="email">{{emailLabel}}</label>
        <input type="email" id="email" name="email" placeholder="{{emailPlaceholder}}" required>
      </div>
      <div class="form-group">
        <label for="phone">{{phoneLabel}}</label>
        <input type="tel" id="phone" name="phone" placeholder="{{phonePlaceholder}}" required>
      </div>
      <div class="date-time-group">
        <div class="form-group">
          <label for="date">{{preferredDateLabel}}</label>
          <input type="date" id="date" name="date" value="2024-12-02" required>
        </div>
        <div class="form-group">
          <label for="time">{{timeSlotLabel}}</label>
          <select id="time">
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="12:30">12:30</option>
            <option value="13:00">13:00</option>
            <option value="13:00">13:30</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn">{{submitButtonText}}</button>
    </form>
  </div>
</section>

<section id="{{reviewsId}}" class="feedback-section">
  <h2 class="section-title">{{customerFeedback}}</h2>
  <div class="feedback-container" id="reviews-container" lang="">
    <div class="feedback-card">
      <p class="feedback-message">"Absolutely loved the relaxing massage! The atmosphere is amazing, and the therapists are professional."</p>
      <p class="feedback-author"> Sophie</p>
    </div>
    <div class="feedback-card">
      <p class="feedback-message">"Great experience with the sports massage. Felt rejuvenated and ready for my next marathon!"</p>
      <p class="feedback-author"> Mark</p>
    </div>
    <div class="feedback-card">
      <p class="feedback-message">"I appreciate the personalized service. The aromatherapy session was blissful."</p>
      <p class="feedback-author"> Eva</p>
    </div>
  </div>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeF2p_NNbKsbsZSOyFNTisykHJG_vW0RyW0oUBRAy3iKYsWqg/viewform?usp=header" target="_blank">{{leaveAFeedback}}</a>
</section>

<section id="{{contactId}}" class="contact-section">
  <h2 class="section-title">{{contactUs}}</h2>
  <div class="contact-container" style="max-width: 80vw; align-content: center; margin: auto;">
    <div class="contact-details">
      <!--<p><strong>{{addressLabel}}:</strong> 123 Relax Street, Rotterdam</p>-->
      <p><strong>{{phoneLabel}}:</strong> <a href="tel:{{phone_tel}}"><i class="fas fa-phone-alt"></i> {{phone}}</a></p>
      <!--<p><strong>{{emailLabel}}:</strong> <a href="mailto:info@relaxdam.nl"><i class="fas fa-envelope"></i> info@relaxdam.nl</a></p>-->
      <!--<p><strong>{{googleMapsLabel}}:</strong> 
        <a href="https://goo.gl/maps/abcd1234" target="_blank"><i class="fas fa-map-marker-alt"></i> {{viewLocation}}</a>
      </p>-->
      <div class="social-links">
        <a href="https://www.facebook.com/www.Relaxlife/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
        <a href="https://wa.me/{{phone_tel}}" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp: </a>
        <!--<a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>-->
        <!--<a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>-->
      </div>
    </div>
  </div>
</section>

  <!-- Footer -->
  <!-- <footer>
  </footer> -->


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "{{title}}",
  "image": "/images/300786356_382152927412830_8296848390070825764_n.jpg",
  "url": "https://relaxdam.nl",
  "telephone": "{{phone}}",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
      "opens": "09:00",
      "closes": "14:00"
    }
  ]
}
</script>

</body>
</html>
